{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

    <div class="col-6">
        {% if widget.is_initial %}
        <p class="font-2">{{ widget.initial_text }}:</p>
        <a href="{{ widget.value.url }}">
            <img width="96" height="96" class="rounded shadow-sm" src="{{ widget.value.url }}">
        </a>
        {% if not widget.required %}
            <div class="custom-control custom-checkbox mt-2">
                <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
                <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
            </div>
        {% endif %}<br>
        {{ widget.input_text }}
    {% endif %}
    
    </div>
    <div class="col-6">
        <span class="font-2">
            Upload a new image
            <br>
            <label id="label-img-pm" for="new-image" class="btn btn-styling3 rounded mb-2 mt-3">
                Choose File
            </label>

            <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
        </span>
        <strong><p class="text-danger" id="filename"></p></strong>
    </div>
</div>
   

</div>
