{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block inner_content %}
<div class="container-fluid p-0">
    <div class="row p-0 mx-0 g-4">
        <div class="col-12 p-0 mx-0">
            
 <section class="page-bg join-team-bg">
    <div class="overlay-main"></div>
        
         <div class="content-wrapper">






<div class="col-12">
            <div class="card shadow-lg border-0 p-4 auth-card">

                <h1 class="text-center mb-4 font-2">Create Account</h1>

                <form method="POST" action="{% url 'account_signup' %}">

                    {% csrf_token %}
                    {{ form|crispy }}


                    <button class="btn btn-styling1 w-50 mt-3" type="submit">
                        Sign Up
                    </button>

                </form>

                <div class="text-center mt-3">
                    <small class="d-block">
                        Already have an account?
                        <a class="btn loging-signup font-dark-purple d-block p-0" href="{% url 'account_login' %}">
                            Sign into your account
                        </a>
                    </small>
                </div>
            </div>
        </div>







        
    </div>
 
</section>
</div>
</div>
</div>

{% endblock %}