{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row p-0 mx-0">
    <div class="col-12 p-0 mx-0">

      <section class="hero-img-bg page-bg">
        <div class="overlay-main"></div>
        <div class="content-wrapper">

          <h1 class="mb-5">Careers at FWL</h1>

          <form method="POST" action="{% url 'join' %}" enctype="multipart/form-data" >
            {% csrf_token %}

            <!-- Your existing contact form fields -->
            <div class="row bg-white rounded fs-6 p-3">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-group fs-5">
                        <label class="display-labels font-2" for="id_first_name">First name</label>
                        {{ form.first_name }}
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <div class="form-group fs-5">
                        <label class="display-labels font-2" for="id_last_name">Last name</label>
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group fs-5">
                        <label class="display-labels font-2" for="id_email">Email address</label>
                        {{ form.email }}
                    </div>
                </div>
            </div>

            <!-- Your existing position and CV fields -->
            <div class="row mt-5 p-3 bg-white rounded" style="min-height:130px;">

                <div class="col-12">
                    <div class="form-group">
                        <label class="display-labels font-2" for="id_position">Position of interest</label>
                        {{ form.position }}
                    </div>
                </div>

                <div class="col-12">
                  <label for="id_cv" class="form-label m-0 display-labels btn btn-styling3 mt-3 pb-2 pt-3">Upload your CV</label>
                  <input type="file" name="cv" id="id_cv" style="display:none;">
                  <p class="text-danger small mt-1" id="cv-filename"></p>
              </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-styling1 px-3">
                        Submit Application
                    </button>
                </div>

            </div>

          </form>

        </div>
      </section>

    </div>
  </div>
</div>

{% block postloadjs %}
{{ block.super }}
<script>
    $('#id_cv').change(function() {
        var file = $('#id_cv')[0].files[0];
        $('#cv-filename').text(file.name);
    });
</script>
{% endblock %}

{% endblock %}