{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">

            <section class="hero-img-bg page-bg">
                <div class="overlay-main"></div>        
                <div class="content-wrapper">

<h1 class="mb-3">Your Class Bookings</h1>

<div class="row mt-5">
    
        <div class="col-12">
 
            <div class="bookings-schedule-wrapper px-3">
{% if bookings %}
<ul>
    {% for booking in bookings %}
        <li class="mb-5  feature font-2 rounded py-3">
            <strong>{{ booking.user.username }}</strong> -
            {{ booking.session.class_type }} |
            {{ booking.session.class_date }} |
            {{ booking.session.class_time }} |
            <a href="{% url 'bookings:cancel_booking' booking.id %}" class="btn btn-styling1 btn-sm mx-2 px-3 pt-3 ">
                Cancel
            </a>
        </li>
    {% endfor %}
</ul>
</div>

<a href="{% url 'bookings:classes' %}" class="btn btn-styling2 px-3 pb-3" >
    Book Another Class
</a>

{% else %}
<p>No bookings available yet.</p>
<a href="{% url 'bookings:classes' %}" class="btn btn-styling1 px-2 pb-3" >
    Book Now
</a>
{% endif %}

</div>
</div>
</div>

</section>

</div>
</div>
</div>

{% endblock %}