{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">
            <section class="page-bg join-team-bg">
                <div class="overlay-main"></div>        
                <div class="content-wrapper">

<h1>Bookings</h1>

{% if bookings %}
<ul>
    {% for booking in bookings %}
        <li>
            <strong>{{ booking.user.username }}</strong> -
            {{ booking.session.class_type }} |
            {{ booking.session.class_date }} |
            {{ booking.session.class_time }}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'bookings:classes' %}" class="btn btn-styling" >
    Book Another Class
</a>

{% else %}
<p>No bookings available yet.</p>
<a href="{% url 'bookings:classes' %}" class="btn btn-styling" >
    Book Now
</a>
{% endif %}

</div>
</section>


{% endblock %}