{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}


{% block content %}
<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">

            <section class="hero-img-bg page-bg">
                <div class="overlay-main"></div>
                <div class="content-wrapper">

                    <h1 class="text-center mb-5">Product Admin</h1>
                   

                    <div class="row">
                        
   
                        <div class="col-12 feature rounded pb-3 px-3">
                            <h3 class="font-2 mt-3">Manage Your Products Here</h3>
                            <form method="POST" action="{% url 'products:add_product' %}" class="form pt-3"
                                enctype="multipart/form-data">

                                {% csrf_token %}

                                {{ form|crispy }}

                                <div class="text-right">
                                    <a class="btn btn-styling2" href="{% url 'products:products' %}">
                                        Cancel
                                    </a>

                                    <button class="btn btn-styling1 px-3" type="submit">
                                        Add product
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}