{% extends "base.html" %}
{% load static %}
{% load product_tools %} 

{% block content %}
<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">

            <section class="hero-img-bg page-bg">
                <div class="overlay-main"></div>
                <div class="content-wrapper">

                    <h1 class="logo-font text-center mb-5">FWL Products</h1>

                    <div class="row align-items-stretch">

                        {% for product in products %}
                        <div class="col-6 col-md-4 mb-4">

                            <div class="card border-0 shadow-sm mb-3 mt-3 h-100 d-flex flex-column">

                                {% if product.image %}
                                <a href="{% url 'products:product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url|cloudinary_resize }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'products:product_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}

                                <div class="card-body white text-center">
                                    <p class="mb-2">{{ product.name }}</p>
                                    <p class="font-weight-bold mb-0 font-2">£{{ product.price }}</p>
                                </div>

                                <a href="{% url 'products:product_details' product.id %}"
                                    class="btn btn-styling1 px-1 text-uppercase my-3 w-100">
                                    View product
                                </a>

                                {% if request.user.is_superuser %}
                                <div class="row my-2 px-2">
                                    <div class="col-6 px-1">
                                        <a class="btn edit-product-link rounded w-100"
                                            href="{% url 'products:edit_product' product.id %}">Edit</a>
                                    </div>
                                    <div class="col-6 px-1">
                                        <a class="btn delete-product-link rounded w-100"
                                            href="{% url 'products:delete_product' product.id %}"
                                            onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>




                        </div>
                        {% endfor %}

                    </div>
                </div>
            
        </section>

    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });
</script>
{% endblock %}