{% extends "base.html" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">

            <section class="hero-img-bg page-bg">
                <div class="overlay-main"></div>        
                  <div class="content-wrapper">

                        <h1 class="logo-font text-center mb-5">FWL Products</h1>

                           <div class="row">

                            {% for product in products %}
                            <div class="col-6 col-md-4 mb-4">

                                <div class="card border-0 shadow-sm mb-3 mt-3">

                                    {% if product.image %}
                                    <a href="{% url 'products:product_details' product.id %}">
                                        <img class="card-img-top img-fluid"
                                             src="{{ product.image.url }}"
                                             alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'products:product_details' product.id %}">
                                        <img class="card-img-top img-fluid"
                                             src="{{ MEDIA_URL }}noimage.png"
                                             alt="{{ product.name }}">
                                    </a>
                                    {% endif %}

                                    <div class="card-body white text-center">
                                        <p class="mb-2">{{ product.name }}</p>
                                        <p class="font-weight-bold mb-0 font-2">
                                            £{{ product.price }}
                                        </p>
                                    </div>

                                </div>

                                {% if request.user.is_superuser %}
                               
                                <div class="row my-3">
                                    <div class="col-6 px-0">
                                        <a class="btn edit-product-link rounded w-100" href="{% url 'products:edit_product' product.id %}">Edit</a> 
                                    </div>
                                    <div class="col-6">
                                        <a class="btn delete-product-link w-100 rounded" href="{% url 'products:delete_product' product.id %}">Delete</a>
                                    </div>
                                </div>
                             
                            {% endif %}



                            </div>
                            {% endfor %}

                        </div>








                    </div>

                </div>
            </section>

        </div>
    </div>
</div>
{% endblock %}