html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    background: url('/media/home-template.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100dvh;

    color: whitesmoke;
    font-family: 'Lato';
}

footer {
    margin-top: auto;
}

.bg-yellow{
    background-color: yellow;
    color: black;
}