



body {
    background: url('/media/home-template.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(224, 82, 82);
    font-family: 'Lato';
}

