{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row p-0 mx-0">
        <div class="col-12 p-0 mx-0">

            <section class="hero-img-bg page-bg">
                <div class="overlay-main"></div>
                <div class="content-wrapper">

    <h1 class="mb-5">Subscription Confirmed!</h1>

    <p>Thank you for subscribing! Your plan is now active.</p>
    <a href="/" class="btn btn-styling2 mt-2 pt-3 pb-3 px-3">Go to Homepage</a>
</div>

</section>
</div>
</div>
</div>
{% endblock %}