  <form>
  <div class="row bg-white rounded text-black p-3">
  <div class="col-12 col-md-6" style="margin-bottom: 3rem;">
    <div class="form-group fs-5">
        <label class="display-labels" for="">First name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
      <div class="form-group fs-5">
        <label class="display-labels" for="">Last name</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
     </div>
  
     <div class="col-12">
    <div class="form-group fs-5">
      <label class="display-labels" for="contact-form-formgroup">Email address</label>
      <input type="email" class="form-control" id="contact-form-formgroup" placeholder="name@example.com">
    </div>
    </div>

  </div>
  </form>
