{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% endblock %} 
    
   {% block extra_meta %}
   {% endblock %}
    
    <title>Document</title>
    <!-- Bootstrap link -->
    {% block core_css %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %} 

    {% block extra_css %}
    {% endblock %}

    {% block core_js %} 
     <!-- Add fontawsome kit code here -->
     <script src="https://kit.fontawesome.com/940f594d2c.js" crossorigin="anonymous"></script>    
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    {% endblock %} 

    {% block extra_js %}
    {% endblock %}

  </head>
<body>

<header class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:landing' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bookings:bookings' %}">My Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">My Nutrition</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shop
                </a>
                <ul class="dropdown-menu">
                 <li><a href="{% url 'products:products' %}?category=accessories" class="dropdown-item">Accessories</a></li>
                 <li><a href="{% url 'products:products' %}?category=hoodies" class="dropdown-item">Hoodies</a></li>
                 <li><a href="{% url 'products:products' %}?category=t-shirts" class="dropdown-item">T-shirts</a></li>
                 <li><a href="{% url 'products:products' %}?category=leggings" class="dropdown-item">Leggings</a></li>
                 <li><a href="{% url 'products:products' %}?category=bags" class="dropdown-item">Gym Bags</a></li>
                 <li><a href="{% url 'products:products' %}?category=activewear,bags,leggings,accessories, t_shirts,hoodies" class="dropdown-item">All Products</a></li>
  
                    
                    </form>
                  </li>
                </ul>





              </li>
              {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}">Login</a>
              {% endif %}

              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'users:display_profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'subscriptions:subscription_plans' %}">Subscriptions</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                  </li>
                </ul>
              </li>
              {% endif %}
              
            </ul>
            <form class="d-flex" role="search" method="GET" action="{% url 'products:products' %}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"/>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul>
                <li class="nav-item">
                  <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'cart:view_cart' %}">
                    <div class="text-center">
                      <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M256 144C256 108.7 284.7 80 320 80C355.3 80 384 108.7 384 144L384 192L256 192L256 144zM208 192L144 192C117.5 192 96 213.5 96 240L96 448C96 501 139 544 192 544L448 544C501 544 544 501 544 448L544 240C544 213.5 522.5 192 496 192L432 192L432 144C432 82.1 381.9 32 320 32C258.1 32 208 82.1 208 144L208 192zM232 240C245.3 240 256 250.7 256 264C256 277.3 245.3 288 232 288C218.7 288 208 277.3 208 264C208 250.7 218.7 240 232 240zM384 264C384 250.7 394.7 240 408 240C421.3 240 432 250.7 432 264C432 277.3 421.3 288 408 288C394.7 288 384 277.3 384 264z"/></svg></div>
                      <p class="my-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                      </p>
                    </div>
                  </a>                
                </li>
            </ul>

</div>
</div>


          </div>
        </div>
      </nav>
</header>

{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      {% if message.message %}
        <div class="alert alert-{{ message.tags }} bg-yellow">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}



<main class="container mt-5">
    <div class="row">
        <div class="col text-center justify-contents-center">


    {% block content %}
    {% endblock %}

</div>
</div>
</main>


<footer class="bg-light">
<p class="fs-4">This is a footer!</p>
</footer>


{% block postloadjs %}
{% endblock %}
</body>
</html>