{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="page-bg join-team-bg">
    <div class="overlay-main"></div>      
         <div class="content-wrapper">

            <div class="row">

                <div class="col-12 col-md-6 m-0">
                    <div class="card shadow-md border-0 p-4 auth-card rounded" id="profile-update-form">

                        <h1 class="font-2">Order Details</h1>

                            <p><strong>Order Number:</strong> {{ order.order_number }}</p>
                            <p><strong>Date:</strong> {{ order.date }}</p>
                            <p><strong>Total:</strong> £{{ order.grand_total }}</p>
                    </div>
                </div>


<div class="col-12 col-md-6 feature rounded h-100 m-0">
    <h2 class="font-2 mt-3 py-3">Items Ordered</h2>

    <div class="order-history-wrapper">

    {% for item in order.lineitems.all %}

        <div class="mb-3 text-black">

            <p><strong>{{ item.product.name }}</strong></p>

            <p>Quantity: {{ item.quantity }}</p>

            {% if item.product_size %}
                <p>Size: {{ item.product_size|upper }}</p>
            {% endif %}

            <p>Subtotal: £{{ item.lineitem_total }}</p>

            {% if item.product.image %}
             <img class="img-fluid rounded order-thumb mb-3" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            {% endif %}
    
</div>

    {% endfor %}
</div>
        </div>


</div>
</div>
</div>

</section>


{% endblock %}

