{% extends "base.html" %}

{% block content %}

<section class="page-bg join-team-bg">
    <div class="overlay-main"></div>
        
         <div class="content-wrapper">
            <div class="card shadow-md border-0 p-4 auth-card" id="profile-update-form">


<h1 class="h2-font">Your Profile</h1>
<p class="text-center profile-subtitle">
    Manage your account and delivery information.
</p>

<form method="POST">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-styling mt-3">
        Update Profile
    </button>
</form>



<h2 class="my-5 h2-font">Order History</h2>

<div class="card shadow-sm border-0 rounded-4 p-4 bg2-color fs-6">

{% if orders %}

    {% for order in orders %}

        <div class="border rounded p-3 mb-3 bg-white order-history">

            <p class=""><strong>Order Number:</strong>
                <a href="{% url 'users:order_history' order.order_number %}"
                    title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:6 }}
                </a>
            </p>

            <p><strong>Date:</strong>{{ order.date|date:"d M Y" }}</p>

            <p><strong>Total:</strong> £{{ order.grand_total }}</p>
            {% for item in order.lineitems.all %}
            <ul>
                <li class="small">
                    {% if item.product_size %}
                        Size: {{ item.product_size|upper }}
                    {% else %}
                        Size: N/A
                    {% endif %}
                
                    {{ item.product.name }} × {{ item.quantity }}
                </li>
                
            </ul>
           
        </div>

    {% endfor %}


{% endfor %}

{% else %}

    <p>No previous orders found.</p>

{% endif %}

</div>
</div>





</div>
</div>
</section>

{% endblock %}