{% extends "base.html" %}

{% block content %}

<section class="page-bg join-team-bg">
    <div class="overlay-main"></div>
        
         <div class="content-wrapper">
            <div class="card shadow-md border-0 p-4 auth-card" id="profile-update-form">


<h2 class="h2-font">Your Profile</h2>

<form method="POST">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-styling mt-3">
        Update Profile
    </button>
</form>

</div>
</div>
</section>

{% endblock %}