{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="hero-img-bg page-bg">
    <div class="overlay-main"></div>
    <div class="content-wrapper">

        <div class="row align-items-stretch">

            <div class="col-12 col-md-6 m-0">
                <div class="card rounded shadow-md border-0 p-4 auth-card h-100" id="profile-update-form">
                    <h1 class="h2-font">Your Profile</h1>
                    <p class="text-center profile-subtitle">
                        Manage your account and delivery information.
                    </p>

                    <form method="POST">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-styling1 px-3 mt-3">
                            Update Profile
                        </button>
                    </form>
                </div>
            </div>


            <div class="col-12 col-md-6 d-flex flex-column">
                <div class="row flex-grow-1">

                    <div class="col-12 px-0 mb-4 mb-md-3">
                        <div class="card shadow-sm border-0 rounded feature p-4 bg2-color fs-6 mt-3 mt-md-0">
                            <h2 class="my-5 my-md-0 h2-font">Order History</h2>

                            <div class="order-history-wrapper mt-3">
                                {% if orders %}

                                {% for order in orders %}
                                <div class="border rounded p-3 mb-3 bg-white order-history">

                                    <p class="order-number"><strong>Order Number:</strong>
                                        <a href="{% url 'users:order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </p>

                                    <p><strong>Date:</strong>{{ order.date|date:"d M Y" }}</p>

                                    <p><strong>Total:</strong> £{{ order.grand_total }}</p>
                                    {% for item in order.lineitems.all %}
                                    <ul>
                                        <li class="small font-2">
                                            {% if item.product_size %}
                                            Size: {{ item.product_size|upper }}
                                            {% else %}
                                            Size: N/A
                                            {% endif %}

                                            {{ item.product.name }} × {{ item.quantity }}
                                        </li>
                                    </ul>



                                    {% endfor %}
                                </div>

                                {% endfor %}

                                {% else %}

                                <p>No previous orders found.</p>

                                {% endif %}
                            </div>

                        </div>
                    </div>



                    <div class="col-12 px-0 m-0">
                        <div class="card shadow-sm border-0 rounded feature p-4">
                            <h2 class="h2-font">My Subscription</h2>

                            {% if active_subscription %}
                            <div class="border rounded p-3 mt-3 bg-white">
                                <p><strong>Plan:</strong> {{ active_subscription.plan.get_name_display }}</p>
                                <p><strong>Billing:</strong> £{{ active_subscription.plan.price }} / {{
                                    active_subscription.plan.billing_cycle }}</p>
                                <p><strong>Status:</strong>
                                    <span class="text-success font-2"> {{ active_subscription.status|capfirst }} </span>
                                </p>
                                <p><strong>Started:</strong> {{ active_subscription.start_date|date:"d M Y" }} </p>

                                <a href="{% url 'subscriptions:cancel_subscription' %}" class="btn btn-danger mt-2"
                                    onclick="return confirm('Are you sure you want to cancel your subscription?')">
                                    Cancel Subscription
                                </a>
                            </div>
                            {% else %}
                            <p class="mt-3">You don't have an active subscription.</p>
                            <a href="{% url 'subscriptions:subscription_plans' %}" id="profile-view-plans"
                                class="btn btn-styling3 mt-2 m-auto px-3 pb-3 pt-2 w-auto">
                                View Plans
                            </a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}